body {
    font-family: 'Avenir', sans-serif; /* Utilisation de Glober pour tout le texte */
    margin: 0;
    padding: 0;
    background-color: #000000; /* Fond léger pour donner une touche moderne */
    color: #000000; /* Couleur de texte générale */
    cursor: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="32" height="32"%3E%3Ctext x="0" y="24" font-size="24"%3E🔒%3C/text%3E%3C/svg%3E'), auto;
    } 

/* Stylisation du container principal */
.container {
    text-align: center;
    margin-top: 300px;
}

/* Affichage de la date et de l'heure */
.datetime {
    font-size: 2.5em;
    margin-top: px;
    color: #f5b027;
}

/* Style du titre h1 */
h1 {
    font-size: 4em;
    font-weight: 700;
    color: #f5b027; /* Jaune pour attirer l'attention */
    margin-bottom: 80px;
}

/* Style du texte explicatif */
p {
    font-size: 1.2em;
    color: #ffffff;
    margin-bottom: 32px;
}

/* Style du digicode */
.digicode {
    margin-bottom: 20px;
}

.digicode input {
    padding: 10px;
    font-size: 1.5em;
    width: 150px;
    border-radius: 5px;
    border: 2px solid #ddd;
}

.digicode button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #f5b027;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.digicode button:hover {
    background-color: #f5b027; /* Hover pour un effet visuel */
    
}

/* Style pour les messages d'erreur */
.error {
    color: red;
    font-size: 1.2em;
    margin-top: 20px;
}

/* Ajout d'un petit style au bouton en hover */
.digicode button:active {
    transform: scale(0.98);
}
